<div class="login40">
  <div class="card">
    <div class="card-block">
      <h2>Create a New Portfolio Item</h2>

      <%= render 'form', portfolio_item: @portfolio_item %>

    </div>
  </div>
</div>