<!--<div class="masthead clearfix">-->
<!--  <div class="inner">-->
<!--    <h3 class="masthead-brand">Green Leaf Services</h3>-->
<!--      <nav class="nav nav-masthead app-nav">-->
<!--        <%#= nav_helper 'nav-link', 'span' %>-->
<!--        <%#= login_helper 'nav-link'%>   <!-- in ApplicationHelper -->
<!--      </nav>-->
<!--  </div>-->
<!--</div>-->
<div class="masthead clearfix">
  <nav class="navbar navbar-toggleable-md blog-nav blog-gls">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="container">
      <!--<%#= link_to "Green Leaf Services", root_path, class: 'navbar-brand' %>-->
      <%= image_tag "GreenLeaf.jpg", width:50, height:50, alt: "No image available" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= nav_helper 'nav-link', 'li' %>  
          <%= login_helper 'nav-link' %>  
        </ul>
      </div>
    </div>
  </nav>
</div>