<div class="blog-header">
  <div class="container">
    <div class="blog-title">GLS Blog</div>
    <p class="blog-description">Hope you enjoy it. It's a lot of work!</p>
    <span>
       <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %> 
    </span>
    <span>&nbsp</span>
    <span>
      <%= link_to 'Blog Topics', topics_path %>
    </span>
  </div>
</div>
