<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Our Activities</h1>
    <p class="lead text-muted">Things we do that can assist you with your data processing activities</p>
    <p>
      <%= link_to 'About us', about_me_path, class:'btn btn-primary' %>
      <%= link_to 'Contact us', contact_path, class:'btn btn-primary' %>
      <%= link_to 'Our blog', blogs_path, class:'btn btn-primary' %>
    </p>
  </div>
</section>
