<div class="topic-masthead">
  <div class="container">
    <nav class="nav topic-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link'%> <!-- in ApplicationHelper -->
    </nav>
  </div>
</div>