<div class ="app-card-container">
  <div class = "card">
    <h1>Green Leaf Services</h1>
    <h2>Our goal is to provide excellent service before, during and after the development process</h2>
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <!-- <img src="http://placehold.it/250x250" alt="No image"> -->
        <!-- <%= image_tag "http://placehold.it/250x250", width:250, height:250, alt: "No image available" %> -->
        <%= image_tag "GreenLeaf.jpg", width:250, height:250, alt: "No image available" %>
    
      </div>
      
      <div class="col-md-8">
        <br>
        <div class="col-md-8">
          <br>
          <div class="col-md-8">
            <br>
            <div class="col-md-9">
              <h2>We aim to please!</h2>
            </div>
          </div>
        </div> 
      </div>
    </div>
    
  </div>
  
</div>

