<!--<div class="inner cover">-->
<div class ="app-card-container">
  <h1 class="cover-heading">Green Leaf Services</h1>
  <p class="lead">Providing progamming and formatting help for anyone who asks!</p>
  <p class="lead">
    <%= link_to "About Us", about_me_path, class:"btn btn-lg btn-secondary" %>
  </p>
</div>